# 01. LTV & CAC ë¶„ì„ ì‹¤ìŠµ

SQLë¡œ ì§ì ‘ LTVì™€ CACë¥¼ ê³„ì‚°í•´ë´…ë‹ˆë‹¤.

**ê·œì¹™:**
- íŒíŠ¸ëŠ” ìµœëŒ€í•œ ì•ˆ ë³´ê³  ë¨¼ì € ì‹œë„í•˜ì„¸ìš”
- ë§‰íˆë©´ íŒíŠ¸ë¥¼ í¼ì³ë³´ì„¸ìš”
- ì™„ë£Œ í›„ `solution.sql`ê³¼ ë¹„êµí•˜ì„¸ìš”

## í™˜ê²½ ì„¤ì •

In [ ]:
import sqlite3
import pandas as pd
from pathlib import Path

# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²°
DB_PATH = Path("../data/crm.db")
conn = sqlite3.connect(DB_PATH)

# SQL ì‹¤í–‰ í—¬í¼ í•¨ìˆ˜
def sql(query):
    """SQL ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ ë°˜í™˜"""
    return pd.read_sql(query, conn)

print("ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì™„ë£Œ!")

---
## ì¤€ë¹„: í…Œì´ë¸” êµ¬ì¡° íŒŒì•…

ë¶„ì„ ì „ì— í•­ìƒ ë°ì´í„°ë¥¼ ë¨¼ì € í™•ì¸í•˜ì„¸ìš”.

In [ ]:
# customers í…Œì´ë¸” í™•ì¸
sql("SELECT * FROM customers LIMIT 5")

In [ ]:
# transactions í…Œì´ë¸” í™•ì¸
sql("SELECT * FROM transactions LIMIT 5")

In [ ]:
# campaigns í…Œì´ë¸” í™•ì¸
sql("SELECT * FROM campaigns LIMIT 5")

In [ ]:
# ë°ì´í„° ê·œëª¨ í™•ì¸
sql("""
SELECT 
    (SELECT COUNT(*) FROM customers) as total_customers,
    (SELECT COUNT(*) FROM transactions) as total_transactions,
    (SELECT COUNT(*) FROM campaigns) as total_campaigns
""")

---
# Mission 1: ê¸°ë³¸ ì§€í‘œ ê³„ì‚°

LTV ê³„ì‚°ì— í•„ìš”í•œ ê¸°ë³¸ ì§€í‘œë¥¼ ë¨¼ì € êµ¬í•´ë´…ì‹œë‹¤.

## Mission 1-1: AOV (Average Order Value) ê³„ì‚°

**ë¬¸ì œ:** í‰ê·  ì£¼ë¬¸ ê¸ˆì•¡ì„ ê³„ì‚°í•˜ì„¸ìš”.

```
AOV = ì´ ë§¤ì¶œ / ì´ ì£¼ë¬¸ ìˆ˜
```

In [ ]:
# TODO: AOVë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    _____ as total_revenue,
    _____ as total_orders,
    _____ as aov
FROM transactions
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- ì´ ë§¤ì¶œ: `SUM(amount)`
- ì´ ì£¼ë¬¸ ìˆ˜: `COUNT(*)`
- AOV: `SUM(amount) / COUNT(*)`
- ë˜ëŠ” `AVG(amount)`ë¥¼ ì§ì ‘ ì‚¬ìš©í•´ë„ ë©ë‹ˆë‹¤

</details>

## Mission 1-2: ê³ ê°ë‹¹ í‰ê·  êµ¬ë§¤ ë¹ˆë„

**ë¬¸ì œ:** ê³ ê° 1ëª…ì´ í‰ê· ì ìœ¼ë¡œ ëª‡ ë²ˆ êµ¬ë§¤í•˜ëŠ”ì§€ ê³„ì‚°í•˜ì„¸ìš”.

```
í‰ê·  êµ¬ë§¤ ë¹ˆë„ = ì´ ì£¼ë¬¸ ìˆ˜ / ì´ ê³ ê° ìˆ˜
```

In [ ]:
# TODO: í‰ê·  êµ¬ë§¤ ë¹ˆë„ë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    _____ as total_orders,
    _____ as total_customers,
    _____ as avg_purchase_frequency
FROM transactions t
JOIN customers c ON t.customer_id = c.customer_id
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- ê³ ìœ  ê³ ê° ìˆ˜ëŠ” `COUNT(DISTINCT customer_id)`ë¡œ êµ¬í•©ë‹ˆë‹¤
- ë‚˜ëˆ—ì…ˆ ì‹œ ì •ìˆ˜ ë‚˜ëˆ—ì…ˆ ì£¼ì˜: `CAST(... AS FLOAT)` ë˜ëŠ” `* 1.0`

</details>

---
# Mission 2: LTV ê³„ì‚°

ì´ì œ ë³¸ê²©ì ìœ¼ë¡œ LTVë¥¼ ê³„ì‚°í•´ë´…ì‹œë‹¤.

## Mission 2-1: ê³ ê°ë³„ ì´ ë§¤ì¶œ (Historical LTV)

**ë¬¸ì œ:** ê³ ê°ë³„ë¡œ ì§€ê¸ˆê¹Œì§€ì˜ ì´ ë§¤ì¶œì„ ê³„ì‚°í•˜ì„¸ìš”.

ì¶œë ¥ ì»¬ëŸ¼: `customer_id`, `total_revenue`, `order_count`, `first_order_date`, `last_order_date`

In [ ]:
# TODO: ê³ ê°ë³„ ì´ ë§¤ì¶œì„ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    customer_id,
    _____ as total_revenue,
    _____ as order_count,
    _____ as first_order_date,
    _____ as last_order_date
FROM transactions
GROUP BY _____
ORDER BY total_revenue DESC
LIMIT 10
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- ì´ ë§¤ì¶œ: `SUM(amount)`
- ì£¼ë¬¸ ìˆ˜: `COUNT(*)`
- ì²« ì£¼ë¬¸ì¼: `MIN(transaction_date)`
- ë§ˆì§€ë§‰ ì£¼ë¬¸ì¼: `MAX(transaction_date)`
- GROUP BYëŠ” `customer_id`ë¡œ

</details>

## Mission 2-2: ì „ì²´ í‰ê·  LTV

**ë¬¸ì œ:** ì „ì²´ ê³ ê°ì˜ í‰ê·  LTVë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

```
í‰ê·  LTV = ì „ì²´ ë§¤ì¶œ / ì „ì²´ ê³ ê° ìˆ˜
```

In [ ]:
# TODO: í‰ê·  LTVë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    SUM(amount) as total_revenue,
    COUNT(DISTINCT customer_id) as total_customers,
    _____ as avg_ltv
FROM transactions
""")

## Mission 2-3: ì±„ë„ë³„ LTV ë¹„êµ â­

**ë¬¸ì œ:** ê³ ê° íšë“ ì±„ë„ë³„ë¡œ í‰ê·  LTVë¥¼ ë¹„êµí•˜ì„¸ìš”.

**ë¹„ì¦ˆë‹ˆìŠ¤ ë§¥ë½:** ì–´ëŠ ì±„ë„ì—ì„œ ì˜¨ ê³ ê°ì´ ë” ê°€ì¹˜ ìˆëŠ”ì§€ íŒŒì•…í•˜ì—¬ ë§ˆì¼€íŒ… ì˜ˆì‚° ë°°ë¶„ì— í™œìš©

ì¶œë ¥ ì»¬ëŸ¼: `acquisition_channel`, `customer_count`, `total_revenue`, `avg_ltv`

In [ ]:
# TODO: ì±„ë„ë³„ LTVë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    c.acquisition_channel,
    _____ as customer_count,
    _____ as total_revenue,
    _____ as avg_ltv
FROM customers c
LEFT JOIN transactions t ON c.customer_id = t.customer_id
GROUP BY _____
ORDER BY avg_ltv DESC
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- `LEFT JOIN`ì„ ì‚¬ìš©í•´ì•¼ êµ¬ë§¤ ì´ë ¥ì´ ì—†ëŠ” ê³ ê°ë„ í¬í•¨ë©ë‹ˆë‹¤
- ë§¤ì¶œì´ NULLì¸ ê²½ìš°ë¥¼ ëŒ€ë¹„í•´ `COALESCE(SUM(amount), 0)` ì‚¬ìš©
- avg_ltv = ì´ë§¤ì¶œ / ê³ ê°ìˆ˜

</details>

**ğŸ¤” ìƒê°í•´ë³´ê¸°:**
- ê°€ì¥ LTVê°€ ë†’ì€ ì±„ë„ì€ ì–´ë””ì¸ê°€ìš”?
- ê·¸ ì±„ë„ì— ë§ˆì¼€íŒ… ì˜ˆì‚°ì„ ë” íˆ¬ìí•´ì•¼ í• ê¹Œìš”? (CACë„ ê³ ë ¤í•´ì•¼ í•©ë‹ˆë‹¤!)

---
# Mission 3: CAC ê³„ì‚°

## Mission 3-1: ì „ì²´ CAC

**ë¬¸ì œ:** ì „ì²´ ê³ ê°ì˜ í‰ê·  CACë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

```
CAC = ì´ ë§ˆì¼€íŒ… ë¹„ìš© / ì´ ì‹ ê·œ ê³ ê° ìˆ˜
```

In [ ]:
# TODO: ì „ì²´ CACë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
SELECT 
    (SELECT SUM(spend) FROM campaigns) as total_marketing_cost,
    (SELECT COUNT(*) FROM customers) as total_customers,
    _____ as cac
""")

## Mission 3-2: ì±„ë„ë³„ CAC ë¹„êµ â­

**ë¬¸ì œ:** ë§ˆì¼€íŒ… ì±„ë„ë³„ë¡œ CACë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

**ë¹„ì¦ˆë‹ˆìŠ¤ ë§¥ë½:** ì±„ë„ë³„ íš¨ìœ¨ì„±ì„ ë¹„êµí•˜ì—¬ ì €íš¨ìœ¨ ì±„ë„ ì˜ˆì‚° ì¶•ì†Œ, ê³ íš¨ìœ¨ ì±„ë„ ì˜ˆì‚° ì¦ëŒ€

ì¶œë ¥ ì»¬ëŸ¼: `channel`, `total_spend`, `customer_count`, `cac`

In [ ]:
# TODO: ì±„ë„ë³„ CACë¥¼ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
# íŒíŠ¸: campaigns í…Œì´ë¸”ì˜ spendì™€ customers í…Œì´ë¸”ì˜ acquisition_channelì„ í™œìš©

sql("""
WITH channel_spend AS (
    SELECT 
        channel,
        SUM(spend) as total_spend
    FROM campaigns
    GROUP BY channel
),
channel_customers AS (
    SELECT 
        acquisition_channel as channel,
        COUNT(*) as customer_count
    FROM customers
    GROUP BY acquisition_channel
)
SELECT 
    COALESCE(s.channel, c.channel) as channel,
    COALESCE(s.total_spend, 0) as total_spend,
    COALESCE(c.customer_count, 0) as customer_count,
    _____ as cac
FROM channel_spend s
FULL OUTER JOIN channel_customers c ON s.channel = c.channel
ORDER BY cac DESC
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- SQLiteëŠ” FULL OUTER JOINì„ ì§€ì›í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤
- ëŒ€ì‹  LEFT JOIN + UNION + RIGHT JOIN ë˜ëŠ” ë‹¤ë¥¸ ë°©ë²• ì‚¬ìš©
- ê°„ë‹¨í•˜ê²Œ í•˜ë ¤ë©´ customer í…Œì´ë¸” ê¸°ì¤€ìœ¼ë¡œë§Œ ê³„ì‚°í•´ë„ ë©ë‹ˆë‹¤
- organic ì±„ë„ì€ spendê°€ 0ì´ë¯€ë¡œ CAC = 0ì…ë‹ˆë‹¤

</details>

In [ ]:
# SQLiteìš© ëŒ€ì•ˆ ì¿¼ë¦¬
sql("""
SELECT 
    c.acquisition_channel as channel,
    COUNT(*) as customer_count,
    SUM(c.acquisition_cost) as total_cost,
    AVG(c.acquisition_cost) as cac
FROM customers c
GROUP BY c.acquisition_channel
ORDER BY cac DESC
""")

---
# Mission 4: LTV:CAC ë¹„ìœ¨ ë¶„ì„ â­â­

**ë¬¸ì œ:** ì±„ë„ë³„ë¡œ LTV:CAC ë¹„ìœ¨ì„ ê³„ì‚°í•˜ê³  í‰ê°€í•˜ì„¸ìš”.

| ë¹„ìœ¨ | ë“±ê¸‰ |
|------|------|
| < 1 | Critical |
| 1-3 | Warning |
| 3-5 | Good |
| > 5 | Excellent |

In [ ]:
# TODO: ì±„ë„ë³„ LTV:CAC ë¹„ìœ¨ì„ ê³„ì‚°í•˜ëŠ” SQLì„ ì‘ì„±í•˜ì„¸ìš”
sql("""
WITH channel_ltv AS (
    SELECT 
        c.acquisition_channel as channel,
        COUNT(DISTINCT c.customer_id) as customer_count,
        COALESCE(SUM(t.amount), 0) as total_revenue,
        COALESCE(SUM(t.amount), 0) * 1.0 / COUNT(DISTINCT c.customer_id) as avg_ltv
    FROM customers c
    LEFT JOIN transactions t ON c.customer_id = t.customer_id
    GROUP BY c.acquisition_channel
),
channel_cac AS (
    SELECT 
        acquisition_channel as channel,
        AVG(acquisition_cost) as cac
    FROM customers
    GROUP BY acquisition_channel
)
SELECT 
    l.channel,
    l.customer_count,
    ROUND(l.avg_ltv, 2) as avg_ltv,
    ROUND(c.cac, 2) as cac,
    _____ as ltv_cac_ratio,
    CASE 
        WHEN _____ THEN 'Excellent'
        WHEN _____ THEN 'Good'
        WHEN _____ THEN 'Warning'
        ELSE 'Critical'
    END as grade
FROM channel_ltv l
JOIN channel_cac c ON l.channel = c.channel
ORDER BY ltv_cac_ratio DESC
""")

<details>
<summary>ğŸ’¡ íŒíŠ¸ (í´ë¦­í•´ì„œ í¼ì¹˜ê¸°)</summary>

- LTV:CAC ë¹„ìœ¨ = avg_ltv / cac
- CACê°€ 0ì¸ ê²½ìš° (organic) ì²˜ë¦¬: `CASE WHEN cac = 0 THEN NULL ELSE avg_ltv / cac END`
- CASE ë¬¸ìœ¼ë¡œ ë“±ê¸‰ ë¶„ë¥˜:
  - `WHEN ratio > 5 THEN 'Excellent'`
  - `WHEN ratio > 3 THEN 'Good'`
  - `WHEN ratio > 1 THEN 'Warning'`

</details>

---
# Mission 5: ì‹¤ë¬´ ì‹œë‚˜ë¦¬ì˜¤ â­â­â­

**ì‹œë‚˜ë¦¬ì˜¤:**

> ë§ˆì¼€íŒ…íŒ€ì—ì„œ ë‹¤ìŒ ë¶„ê¸° ì˜ˆì‚° ë°°ë¶„ ì „ëµì„ ìˆ˜ë¦½í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
> í˜„ì¬ ì±„ë„ë³„ ì„±ê³¼ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ì—¬ ë‹¤ìŒì„ ë„ì¶œí•˜ì„¸ìš”:
>
> 1. ê°€ì¥ íš¨ìœ¨ì ì¸ ì±„ë„ (LTV:CAC ê¸°ì¤€)
> 2. ê°œì„ ì´ í•„ìš”í•œ ì±„ë„
> 3. ì˜ˆì‚° ì¬ë°°ë¶„ ê¶Œê³ ì•ˆ

**ë‹¹ì‹ ì˜ ë¶„ì„ì„ ì•„ë˜ì— ì‘ì„±í•˜ì„¸ìš”:**

In [ ]:
# ììœ ë¡­ê²Œ ë¶„ì„ ì¿¼ë¦¬ë¥¼ ì‘ì„±í•˜ì„¸ìš”

# 1. ì±„ë„ë³„ ì „ì²´ ì„±ê³¼ ìš”ì•½
sql("""
-- ì—¬ê¸°ì— ì¿¼ë¦¬ ì‘ì„±

""")

### ë‚˜ì˜ ë¶„ì„ ê²°ê³¼ ë° ê¶Œê³ ì•ˆ

(ì—¬ê¸°ì— ë¶„ì„ ê²°ê³¼ë¥¼ ì‘ì„±í•˜ì„¸ìš”)

1. **ê°€ì¥ íš¨ìœ¨ì ì¸ ì±„ë„**: 
2. **ê°œì„ ì´ í•„ìš”í•œ ì±„ë„**: 
3. **ê¶Œê³ ì•ˆ**:

---
# íšŒê³ 

ì‹¤ìŠµì„ ë§ˆì¹˜ë©° ì•„ë˜ ì§ˆë¬¸ì— ë‹µí•´ë³´ì„¸ìš”.

1. **ì–´ë–¤ ë¶€ë¶„ì´ ì–´ë ¤ì› ë‚˜ìš”?**

2. **ìƒˆë¡­ê²Œ ë°°ìš´ SQL ê¸°ë²•ì€?**

3. **ì‹¤ë¬´ì—ì„œ ì´ ë¶„ì„ì„ í™œìš©í•œë‹¤ë©´?**

4. **ë©´ì ‘ì—ì„œ ì´ ë‚´ìš©ì„ ì–´ë–»ê²Œ ì„¤ëª…í•˜ê² ìŠµë‹ˆê¹Œ?**

In [ ]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì¢…ë£Œ
conn.close()
print("ì‹¤ìŠµ ì™„ë£Œ!")